@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
    font-family: 'Permanent Marker', cursive;
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #333;
}

header {
    background-color: cadetblue;
    width: 100vw;
    height: 10%;
    text-align: center;
    font-size: 24px;
}
header > h1 {
    display: inline-block;
}

header > span {
    font-size: 12px;
}

#viewport {
    width: 50%;
    margin-top: 2%;
}

#viewport input {
    margin-left: 2%;
}

#messages, #word-area {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#word-area {
    font-size: 24px;
}

#player-area {
    margin-top: 3%;
}

#rules div {
    margin-top: 2%;
}

#game-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}